<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmissio.provisionamentotriway">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ajuda.AjudaActivity"></activity>
        <activity android:name=".conectividade.Conectividade" />
        <activity android:name=".conectividade.Sinal" />
        <activity android:name=".conectividade.PPPoE" />
        <activity android:name=".eg8120l5.Provisionamento8120l5" />
        <activity android:name=".eg8120l.Provisionamento8120l" />
        <activity android:name=".eg8145v5.SsidPassword" />
        <activity android:name=".eg8145v5.Provisionamento8145v5" />
        <activity android:name=".eg8245w5.Provisionamento8245w5" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>